body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 50px;
}

#wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 2;
}

form {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

#form {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(160, 160, 160, 0.2),
    0 6px 20px 0 rgba(160, 160, 160, 0.2);
  margin-left: 200px;
  padding: 30px;
}

#parant {
  display: flex;
  justify-content: center;
}

#rullgardin {
  padding: 30px 100px 30px 100px;
  margin: 50px;
  align-self: center;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(233, 233, 233); */
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(219, 218, 218, 0.2),
    0 6px 20px 0 rgba(219, 218, 218, 0.2);
  border: solid rgb(8, 8, 107) 4px;
}

#filuppladdning {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(160, 160, 160, 0.2),
    0 6px 20px 0 rgba(160, 160, 160, 0.2);
  margin-right: 200px;
  padding: 30px;
}
#gardin {
  width: 250px;
  height: 30px;
  padding-left: 7px;
  position: relative;
  appearance: none;
  border-radius: 5px;
  border: solid 1px black;
  background-image: url(/arrow.svg);
  background-repeat: no-repeat;
  background-position: right;
}

span {
  margin: 15px;
}

.knapp {
  padding: 10px;
  margin-top: 30px;
  width: 130px;
  display: flex;
  border-radius: 3px;
  border: none;
  background-color: orange;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  justify-content: center;
}

#hej {
  align-items: flex-start;
}

.textfalt {
  padding-left: 10px;
  height: 30px;
  width: 300px;
  align-self: flex-start;
  display: flex;
  border: solid 1px black;
  border-radius: 3px;
}

label {
  margin-top: 20px;
}

h2 {
  text-align: left;
  padding-left: 30px;
  padding-right: 15px;
}

img {
  padding-top: 20px;
  padding-left: 30px;
}

/* p {
  padding-left: 30px;
} */

.fail {
  padding-top: 20px;
}

.felfil {
  padding-left: 30px;
}
